:root {
  --color--background: #000000;
  --color--text--primary: #ab8f3d;
  --color--text--secondary: #ffffff;
}
body .bg-header {
  background: var(--color--background);
  border: none;
}

body .bg-header nav .color-menu-button{
    background: var(--color--text--primary);
    color: var(--color--text--primary);
    padding: 4px;
    outline: none;
    border: none;
}

body .bg-header nav .color-menu-button:active{
    
    color: var(--color--background);
}


body .bg-header nav a {
  color: var(--color--text--primary);
}

body .bg-header nav a:hover {
  color: var(--color--text--primary);
}


header nav div  ul .nav-item-list{
    position: relative;
}

/* Mantener el color del enlace sin cambios en el estado activo y enfocado */



header nav div .nav-text {
  color: var(--color--text--primary);
}

header nav div  ul .nav-item-list::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.4px;
  transition: 0.5s ease-in-out;
  background: var(--color--text--primary);
}

header nav div ul .nav-item-list:hover:before {
  width: 100%;
}

header nav div .nav-text:hover {
  color: var(--color--text--primary);
}

.text-white {
  color: var(--color--text--primary);
}

body .bg-header nav .border-cart{
    border-color: var(--color--text--primary);
    transition: .3s ease;

}



body .bg-header nav .border-cart:hover{
   background: var(--color--text--primary);
   color: var(--color--text--secondary);
   border: 1px solid var(--color--text--secondary);
}

.custom-bg-image {
    width: 100%;
    height: 100vh;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/img/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }

  .custom-bg-image h1{
    text-shadow: 0 0 10px 0 rgba(163, 0, 0, 0.5);
  }

  .custom-bg-image div p{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 40px;
  }

  .custom-bg-image div a{
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    color: var(--color--text--primary);
    border: 1px solid var(--color--text--primary);
    border-radius: 5px;
    transition: 0.3s ease;
    text-transform: uppercase;
    
  }

  
  .custom-bg-image div a:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    color: var(--color--background);
  }

  /* estilos del  la seccion de productos destacados */

  .productos-destacados {
    width: 100%;
    padding: 40px 20px;
    background-color: var(--color--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .productos-destacados h2 {
    color: var(--color--text--primary);
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  
  .productos-destacados-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .productos-destacados-card {
    width: 360px;
    height: auto;
    text-align: center;
    overflow: hidden;
  }
  
  .productos-destacados-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .productos-destacados-card h3 {
    font-size: 1.4rem;
    color: var(--color--text--primary);
    text-transform: uppercase;
    margin: 4px 0;
  }
  
  .productos-destacados-card p {
    font-size: 1rem;
    font-weight: lighter;
    color: var(--color--text--secondary);
    margin-bottom: 4px;
  }
  
  .productos-destacados-card button {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin: 8px 0;
    outline: none;
    background: var(--color--text--primary);
    color: var(--color--text--secondary);
    border: 1px solid var(--color--text--primary);
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .productos-destacados-card button:hover {
    background: var(--color--background);
    color: var(--color--text--primary);
    border: 1px solid var(--color--text--primary);
  }

/* Estilos de la seccion de pagos y envios */

.pagos-envios {
    width: 100%;
    padding: 40px;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/img/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
  }
  
  .pagos h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.4rem;
    text-align: end;
    margin-bottom: 14px;
    color: var(--color--text--secondary);
    text-transform: uppercase;
  }
  
  
  .pagos ul li  {
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: end;
    color: var(--color--text--secondary);
    list-style: none;
  }
  
  .metodos-icon {
    display: flex;
    gap: 20px;
  }
  
  .metodos-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--color--text--primary);
    text-decoration: none;
  }
  
  .metodos-icon a:first-child {
    background: var(--color--background);
  }
  
  .metodos-icon a i {
    font-size: 4rem;
    color: var(--color--background);
  }
  
  .metodos-icon a:first-child i {
    color: var(--color--text--primary);
  }

  /* Estilos del Footer */

footer {
  background-color: var(--color--text--primary);
  color: var(--color--background);
  padding: 20px 0;
  text-align: center;
}

.footer-container > p {
  font-size: 1rem;
  font-weight: lighter;
}

footer .footer-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

footer .footer-list {
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  text-transform: uppercase;
  gap: 40px;
}

footer .footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

footer .footer-column p {
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: lighter;
  text-transform: none;
}

footer .footer-column ul li{
    font-size: 1rem;
}

footer .footer-column ul li a{
    font-size: 1rem;
    color: var(--color--text--secondary);
}

footer h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color--background);
}

footer ul {
  list-style-type: none;
  padding: 0;
}



footer ul li a {
  color: var(--color--background);
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s ease-out;
}

footer ul li a:hover {
  color: var(--color--text--secondary);
}

footer .social-media {
  display: block;
  flex-direction: column;
  justify-content: space-between;
}

footer .social-media h3 {
  text-align: center;
}

.social-media ul {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social-media ul a i{
  color: var(--color--background);
  text-decoration: none;
  padding: 2px;
  cursor: pointer;
  display: flex;
  font-size: 2.4rem;
  transition: 0.2s ease-in-out;
  margin-top: 4px;
}

.social-media ul a i:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
  color: var(--color--text--secondary);
  
}

/*  ESTILOS DE LA PAGINA COLECCIONES */

.colecciones {
  width: 100%;
  padding: 100px 20px 40px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  background: var(--color--background);
}

.colecciones h1 {
  font-size: 2.4rem;
  color: var(--color--text--primary);
}

.colecciones-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.colecciones-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 0px 2px var(--color--text--primary);
}

.colecciones-container h3 {
  font-size: 1.4rem;
  color: var(--color--background);
  margin: 10px 0;
  background: var(--color--text--primary);
}

.colecciones-card {
  width: 360px;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 var(--color--text--primary);
  padding: 4px;
  background: var(--color--text--primary);
}

.sobre-nosotros--container {
    width: 100%;
    padding: 40px;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/img/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .sobre-nosotros--container h1 {
    font-size: 3rem;
    color: var(--color--text--primary);
    text-align: center;
    text-transform: uppercase;
    padding-top: 100px;
  }
  
  .sobre-nosotros--container section {
    width: 100%;
    max-width: 1440px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    align-items: center;
    margin: 35px auto;
    animation: entrar 1s ease-in-out;
    justify-content: center; /* Alinea los elementos al centro si hay espacio */
    gap: 20px; /* Espacio entre elementos */
    background: var(--color--text--primary);
    border-radius: 8px;
    box-shadow: 0 0 7px 0 var(--color--text--primary);
  }
  
  .sobre-nosotros--container section .sobre-nosotros-img {
    width: 400px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
  }
  
  .sobre-nosotros-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .sobre-nosotros-text {
    width: 900px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
  }
  
  .sobre-nosotros-text p {
    margin-bottom: 20px;
  }
  
  /* estilos de la pagina de compras */
  
  .productos {
    width: 100%;
    padding: 100px 20px 40px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
  }
  
  .productos h1 {
    font-size: 3rem;
    color: var(--color--text--primary);
    margin-bottom: 40px;
  }
  
  .productos-container {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 16px;
    background: var(--color--text--primary);
  }
  
  .producto-card {
    width: 400px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 7px 0 var(--color--background);
    padding: 8px;
    text-align: start;
    transition: 0.3s ease-in;
    background: var(--color--background);
  }
  
  .producto-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .producto-card h3 {
    font-size: 1.4rem;
    color: var(--color--text--primary);
    margin: 10px 0 4px;
    margin-left: 10px;
  }
  
  .producto-card p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color--text--primary);
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .producto-card button {
    width: 100%;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color--text--secondary);
    background: var(--color--text--primary);
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
  }
  
  .producto-card button:hover {
    background: var(--color--background);
    border: 1px solid var(--color--text--primary);
    color: var(--color--text--primary);
  }
  
  /* estilos de la pagina de contacto */
  
  .contacto {
    width: 100%;
    padding: 70px 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
  }
  
  .contacto h1 {
    font-size: 3rem;
    color: var(--color--text--primary);
    letter-spacing: 1px;
    margin-bottom: 8px;
  }
  
  .contacto p {
    font-size: 1.8rem;
    color: var(--color--text--secondary);
    text-transform: none;
    margin-bottom: 20px;
  }
  
  fieldset {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-transform: none;
    border: 1px solid var(--color--text--primary);
    border-radius: 8px;
    box-shadow: 0 0 7px 0 var(--color--text--primary);
  }
  
  legend {
    color: var(--color--background);
    font-size: 1.8rem;
    background: var(--color--text--primary);
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 1.8rem;
    font-weight: 600;
    box-shadow: 0 0 7px var(--color--text--primary);
  }
  
  fieldset label {
    color: var(--color--text--secondary);
    text-align: start;
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  
  
  fieldset input{
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid var(--color--text--primary);
    color: var(--color--text--secondary);
    padding-left: 10px;
  }
  
  textarea{
    width: 100%;
    height: 100px;
    padding: 8px 0;
    font-size: 1.4rem;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid var(--color--text--primary);
    padding-left: 10px;
    color: var(--color--text--secondary);
  }
  
  fieldset button{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--color--text--primary);
    background: var(--color--text--primary);
    color: var(--color--text--secondary);
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: .3s ease-in;
    cursor: pointer;
  }
  
  fieldset button:hover{
    opacity: 80%;
    color: var(--color--background);
  }
  
  @keyframes entrar {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }



@media (max-width: 768px) {
    .productos-destacados h2{
        font-size: 1.8rem;
        letter-spacing: 1px;
    }
    
    .pagos h2{
        font-size: 1.4rem;
    }
    
    .pagos ul li {
        font-size: .9rem;
  
    }
    
    .sobre-nosotros-text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2rem;
      }



}