
  @keyframes entrar-animation {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes entrar-slide-rigth {
    0% {
      opacity: 20%;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
