@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "../utilities/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}

html {
  font-size: 62.5%;
}

main{
    background: $color-background;
}

a {
  text-decoration: none;
  color: inherit;
}
